extends ../shared/template

block content
  #game-container
    #mothgame

  #sidebar
    ul
      li: a(href='/') Home
      li: a(href='https://github.com/bobpaterno/mothgame') Github Link
      li: a(href='/about') About
